include LICENSE
include README.md
include RVO2.md
include CMakeLists.txt
recursive-include src *.h *.cpp *.pyx CMakeLists.txt
recursive-include navirl *.py *.json *.yaml *.md
recursive-include data *
recursive-include research *
recursive-include docs *
prune out
prune output
prune dist
